@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

body {
    background: #000000;
    color: #ffe1ae;
    padding: 40px;
}

.green {
    color:rgba(0, 255, 0, 0.825);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 900;
    color: #b4ff39;
}

.toggle {
    width: 28px;
    height: 14px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.toggle::before {
    content: "";
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
}

.hero {
    margin-top: 120px;
    max-width: 700px;
}

.hero h1 {
    font-size: 75px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
}

footer {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.email {
    font-size: 18px;
    color: #b4ff39;
    cursor: pointer;
}
